#header-menu {
  top: 0;
  left: 0; 
  right: 0; 
  position: fixed;
  z-index: 20;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10px;
  display: flex;
}

#header-menu-logo {
/*	border: 1px solid black;*/
	width: 33%;
	height: 80px;
	padding-top: 10px;
  	padding-bottom: 10px;
}

#header-menu-logo-img{
	height: 100%;
}

#header-menu-summary {
/*	border: 1px solid black;*/
	border-radius:20px;
	width: 34%;
	height: 80px;
	padding-top: 10px;
  	padding-bottom: 10px;
	background-color: white;
	box-shadow: 0 0 20px #ffdd99;
}
#header-menu-summary-inner {
	height: 100%;
  	display: flex;
}

#header-menu-summary-header {
	min-width: 200px;
/*	border: 1px solid black;*/
	height: 100%;
	margin-left: 15px;
	display: flex;

}
#header-menu-summary-icon {
	height: 100%;
	padding-top: 10px;
  	padding-bottom: 10px;
}
#header-menu-summary-icon-img {
	height: 60px;
}
#header-menu-summary-text {
	height: 100%;
	margin-left: 10px;
	padding-top: 10px;
  	padding-bottom: 10px;
}

#header-menu-summary-app-name {
	font-size: 15px;
	text-align: left;
}
#header-menu-summary-tree-name {
	font-size: 25px;
	text-align: left;
	font-weight: 700;
}

#header-menu-settings {
/*	border: 1px solid black;*/
	width: 33%;
	height: 80px;
	padding-top: 10px;
  	padding-bottom: 10px;

}

#header-menu-settings-img {
	height: 100%;
}

#header-menu-summary-button-parent {
/*	border: 1px solid black;*/
	width: 200px;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}
#header-menu-summary-button {
	height: 100%;
	border-radius: 15px;
	background-color: #0dbf5c;
	border: 0;
	display: flex;
	font-weight: 700;
	font-family:'Quicksand';
	color: black;
	padding: 0 20px;
}

#header-menu-summary-button:hover {
	transform:scale(1.1);
	animation-duration:0.5s;
}


#header-menu-summary-button-text {
	margin: auto;
	font-size: 14px;
	text-transform: uppercase;
}

#header-menu-summary-button-number {
	margin: auto;
	margin-left: 10px;
	height:30px;
	width: 30px;
	border-radius: 10px;
	background-color: #F6C02D;
}

#header-menu-summary-button-number-text {
	margin-top: 8px;
	margin-bottom: 8px;
	font-family:'Quicksand';	
	weight: 700;
}

