
/* The popup form - hidden by default */
.info-popup {
  display: block; /*none*/
  background-color: white;
  border: 6px solid black;
  min-height: 600px; /* Need a specific value to work */

/*  clear: both;*/


}
.info-popup-padding{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  top: 10%;
  max-width: 600px; /* Need a specific value to work */

  padding-left: 10%;
  padding-right: 10%;
  z-index: 15;
}

#close-popup-area {
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0;
  position: fixed;
  z-index: 10;
  display: none; /*none*/
}

#info-popup-name {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 200%;
  text-align: center;
}

#info-popup-popis {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.popup-close {
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    padding-top: 1%;
    padding-right: 1%;
    background-color: unset;

}

.popup-top-panel {
/*    border: 1px solid black;*/
    height: 30px;
    text-align: left;

    width: 100%; 

}

