
/* The popup form - hidden by default */
.info-popup {
  display: block; /*none*/
  background-color: white;
  border: none;
  border-radius: 20px;
  min-height: 600px; /* Need a specific value to work */
  cursor: auto;
  box-shadow: 0 0 50px #ffdd99;
  padding-bottom: 15%;

/*  clear: both;*/


}
#info-popup-padding{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  padding-bottom: 100px;
  max-width: 600px; /* Need a specific value to work */
  padding-left: 10%;
  padding-right: 10%;
  z-index: 15;
}

#close-popup-area {
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0;
  position: fixed;
  overflow-y:scroll;
  z-index: 10;
  display: none; /*none*/
  cursor: pointer;  
  z-index: 20;
}

#info-popup-name {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 200%;
  text-align: center;  
  font-family: 'Quicksand';
  font-weight: 700;
}

#info-popup-popis {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  font-family: 'Quicksand';
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;

}
.info-popup-popis-div {
  margin-top: 35px;
  margin-bottom: 50px;

}

.info-popup-star-button-active {  
  border: 2px solid rgb(246,192,45);
  background-color: rgb(246,192,45);
}

#info-popup-star-button {
  border: 2px solid rgb(246,192,45);
  border-radius:15px;
  background-color: unset;
  padding: 10px;
  width: 50%;
  height: 100%;
  cursor: pointer;
  margin-top: 25px;
  min-width: 180px;  
}

#info-popup-star-button-text {
/*  border: 3px solid black;*/
  font-weight: 700;
  height: 100%;
  text-align: center;
  display: inline-block;
  padding-top: 15px;
  padding-right: 30px;  
  text-transform: uppercase;
  font-family: 'Quicksand';
  font-size:16px;
}

#popup-bottom-panel {
  margin-top: 3%;
/*  border: 1px solid #ccc;*/
  height: 55px;
}

.popup-close {
  border: 0;
  padding: 0;
  cursor: pointer;
  padding-top: 20px;
  padding-right: 20px;
  background-color: unset;
  float:right;
}

.popup-top-panel {
/*    border: 1px solid black;*/
  height: 30px;
  text-align: left;
  width: 100%; 
}

.popup-link-panel {
  float:left;
}

#popup-link-panel {
  padding-top:25px;
}


.popup-link-button {
  font-family:'Quicksand';
  padding: 10px 20px;
  background-color: white;
  font-size:14px;
  font-weight:700;
  text-transform:uppercase;
  border-radius: 50px;
  border:none;
  margin:0 10px;
  box-shadow: 0 0 20px #d3d3d3;
}

.popup-link-button:hover {
  transform:scale(1.1);
  transition-duration: 0.25s;
}

.popup-link-button-text {
  
}

#popup-link-youtube {
  color:#FF0000;
}

#popup-link-podcast {
  color:#1DB954;
}

#popup-link-doi {
  color:dodgerblue;
}

#popup-link-book {
  color:dodgerblue;
}

