body {
    font-family: Quicksand;
    background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#container {
    /*margin: 0 auto;*/
    /*padding: 5px;*/
/*    background-color: lightgray;*/
/*    border: 1px solid black;*/
    /*border-radius: 0px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    text-align: center;
    display: inline-block;
    z-index: 1;
    float:left;
}


/* Hide scrollbar for IE, Edge and Firefox */
.example {
}


.root {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
/*    border: 1px solid #ccc;*/
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    cursor: pointer;

}

.root-name {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}

.root-icons {
    position: absolute;
    bottom: 0;
    display: flow;
/*    border: 1px solid black;*/
    height: 40px;
    text-align: left;

    width: 100%; 
    margin-bottom: 10px;
    z-index: 2;

}

.root-star {
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
    background-color: unset;

}
.root-info {
    float: right;
    max-width: 40px;
    cursor: pointer;
    margin-right: 10px;
    border: 0;
    padding: 0;
    background-color: unset;

}

.tree {
    position: relative;
    text-align: center;
    border-bottom: 10px;
    display: inline-block;
    margin: 10px;
    margin-top: 50px;
    vertical-align: top;
/*    border: 1px solid black;*/


}

.childs {
    flex: 1 1 30%;
    display: flex;

}


#connector-lines {
    top: 0;
    left: 0;
    position: absolute;/*
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    margin: auto; */
    width: max-content;
}

#tree-structrure-content {
    position: relative;
    z-index: 1;
}

#inner-container {
    float:left;
    font-size:15px;
    font-family:arial;
    padding:10px;
    cursor: grab;
}

